*{
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  border-radius: 3px;
}
.octodex{
  list-style: none;
  margin: 0 auto;
}
.octocat{
  display:  inline-block;
  width: 31%;
  margin: 0 1%;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 10px;
}

.octocat > a{
	display: inline-block;
  border: 1px solid #cacaca;
 	margin: 0 auto;
	border-radius: 3px;
}
.octocat >a:after{
    content:'';
    float: right;
    position: relative;
    right: 5px;
	  bottom: -5px;
    width: 0;
    height: 0;
    border-top: solid 5px #cacaca;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}
.image-footer{
  height: 28px;
  line-height: 26px;
  margin-top: 5px;
}
.image-number{
  float: left;
  display: block;
  color: lightgray;
}
.image-number:before{
  content: "#";
}
.image-caption{
  float: right;
  height: 26px;
  line-height: 26px;
}
.image-caption span, .image-caption a{
  display: inline-block;
  position: relative;
  bottom: 5px;
}
.image-caption span{
  color: #777;
}
.image-caption a{
  color: #333;
}
.authors{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.authors li{
}
.authors li a{
  width: 20px;
  position: static;
}

@media screen and (max-width: 750px) {
  .octocat{
    display:  block;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border: none;
    margin-bottom: 20px;
  }
}
