*{
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  border-radius: 5px;
}
.octodex{
  list-style: none;
  margin: 0 auto;
}
.octocat{
  display:  inline-block;
  width: 31%;
  margin: 0 1%;
  border-bottom: 1px solid #C7C7C7;
}
.octocat a img{
  border: 1px solid #C7C7C7;
  width: 100%;
  margin: 0 auto;
}
.octocat:after{
    content:'';
    float: right;
    position: relative;
    bottom: 35px;
    right: 5px;
    width: 0;
    height: 0;
    border-top: solid 5px #C7C7C7;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}
.image-footer{
  height: 28px;
  line-height: 26px;
  margin-top: 5px;
}
.image-number{
  float: left;
  display: block;
  color: lightgray;
}
.image-number:before{
  content: "#";
}
.image-caption{
  float: right;
  height: 26px;
  line-height: 26px;
}
.image-caption span, .image-caption a{
  display: inline-block;
  position: relative;
  bottom: 5px;
}
.image-caption span{
  color: gray;
}
.image-caption a{
  color: #333;
}
.authors{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.authors li{
}
.authors li a{
  width: 20px;
  position: static;
}
.authors li a img{
  border: none;
}

@media screen and (max-width: 650px) {
  .octocat{
    display:  inline-block;
    width: 100%;
    margin: 0 1%;
    border-bottom: 1px solid #C7C7C7;
  }
}
